@model ToDoListDomainEntities.ToDoItem

@{
    ViewData["Title"] = "Details";
}


<section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">
                <h1 class="text-class">The Details</h1>
                <br />
                <dl class="row text-class">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
                <div class="form-group">
                    <button class="add-new btn btn-primary">
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    </button>
                    <button class="add-new btn btn-primary">
                        <a asp-action ="ViewToDos" asp-route-id="@Model.ToDoListId">Back to List</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="ViewToDos" asp-route-id="@Model.ToDoListId">Back to List</a>
</div>


@*
    <section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">
*@