@using Newtonsoft.Json;
@model IEnumerable<ToDoListDomainEntities.ToDoItem>

@{
    ViewData["Title"] = "View";
}

<h1>View ToDos</h1>

<a asp-action="Create">Create New</a>
<button id='btn' onclick="handleClick('@JsonConvert.SerializeObject(Model.ToList())')">Hide Completed</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="trelement">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    #create {
        margin-right: 800px;
    }
</style>

<script>
    let arrOfClicked = [];
    let isClicked = false;
    const btn = document.getElementById('btn');
    const trelement = document.getElementsByClassName('trelement');

    function handleClick(val) {
        isClicked = !isClicked;

        if (isClicked) {
            btn.textContent = "Show Completed";

            let data = JSON.parse(val);
            for (let j = 0; j < trelement.length; j++) {
                for(let i of data) {
                    if (i.Status == "Completed") {
                        trelement[j].style = "display:none";
                        arrOfClicked.push(j);
                    }
                }
            }
        } else {
            btn.textContent = "Hide Completed";
            arrOfClicked.forEach(el => {
                trelement[el].style = "";
            })
            arrOfClicked = [];
        }
    }
</script>
